<div>
    
</div>

@code {
    [CascadingParameter] public required TabList Parent { get; set; }

    [Parameter, EditorRequired] public required string Title { get; set; }
    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }
    public string Id { get; set; } = Guid.NewGuid().ToString();


    protected override void OnInitialized()
    {
        Parent.AddTab(this);
    }

}