@page "/counter"
@using LocalVenue.Helpers
@using LocalVenue.Shared.Enums
@rendermode InteractiveServer
@inject IJSRuntime Js;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        Toast.SimpleToast(ToastType.Success, currentCount.ToString(),Js);
        currentCount++;
    }

}